<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="script.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="book-container">
            <ul>
                <li v-for="(value, index) in book" :key="value">
                    {{ index }} : {{ value }}
                </li>
            </ul>
            <button @click="editBook">Modifica Libro</button>
        </div>
        <form action="">
            <input  v-model="newValue.title"  type="text">
            <input  v-model="newValue.author"  type="text">
            <input  v-model="newValue.year"  type="text">
            <input  v-model="newValue.description"  type="text">
        </form>
        
    </div>
</body>
</html>